:root{
    color-scheme: light dark;

    --darkBackground: #000000;
    --darkForeground1: #ffffff;
    --darkForeground2: #696969;
    --darkForeground3: #2b2323;

    --lightBackground: #ffffff;
    --lightForeground1: #000000;
    --lightForeground2: #9b9898;
    --lightForeground3: #e9dede;
}

body{
    background-color: light-dark(var(--lightBackground), var(--darkBackground));
    color: light-dark(var(--lightForeground1), var(--darkForeground1));
    font-family: 'Open Sans';
    font-size: 1.3rem;
}

::selection{
    background: light-dark(var(--lightForeground2), var(--darkForeground2));
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: light-dark(var(--lightForeground3), var(--darkForeground3));
    font-size: inherit;
    word-wrap: break-word;
    font-family: inherit;
    height: 4rem;
}


.navBtn{
    border: none;
    border-radius: 0px;
    background-color: transparent;
    font-size: inherit;
    cursor: pointer;
    width: auto;
    height: 4rem;
    font-family: inherit;
    padding: 1rem;
    transition: 0.1s ease-in-out;
    width: auto;
}

.active{
    background-color: light-dark(var(--lightForeground2,), var(--darkForeground2));
}

.main{
    padding: 0;
    word-wrap: break-word;
    width: 100%;
    height: calc(100% - 5rem);
    margin-top: 5rem;
    font-family: inherit;
}

.navTitle{
    font-size: 1.2rem;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    padding: 0 0 0 0.2em;
}

.regBtn{
    border: none;
    border-radius: 0;
    font-size: inherit;
    background-color: light-dark(var(--lightForeground3), var(--darkForeground3));
    transition: 0.1s ease-in-out;
    color: light-dark(var(--lightForeground1), var(--darkForeground1));
    margin: 10px;
    padding: 1rem;
    font-family: inherit;
}

.regBtn:hover, .navBtn:hover{
    color: light-dark(var(--lightBackground), var(--darkBackground));
    background-color: light-dark(var(--lightForeground1), var(--darkForeground1));
}

.regBtn:hover:disabled{
    background-color: light-dark(var(--lightForeground3), var(--darkForeground3));
    color: light-dark(var(--lightForeground1), var(--darkForeground1))
}

.modal{
    width: 80%;
    height: 80%;
    position: fixed;
    background-color: light-dark(var(--lightForeground3), var(--darkForeground3));
    overflow: auto;
    display: none;
    padding: 0rem 0 0 0.3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-family: inherit;
    margin: 0 auto;
    border: 2px solid light-dark(var(--lightForeground1), var(--darkForeground1));
    animation: slide-down 0.5s;
}

.bigScreen{
    display: inline-block;
}

.smallScreen{
    display: none;
}

@keyframes slide-down{
    0%{
        top: 0;
        left: 50%;
        translate: -50%, 100%;
    }
    100%{
        top: 50%;
        translate: -50%, -50%;
    }
}

.notification{
    background-color: light-dark(var(--lightForeground1), var(--darkForeground1));
    color: light-dark(var(--lightBackground), var(--darkBackground));
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 0 0.3rem 0 0.3rem;
    display: none;
    transition: 0.3s ease-in-out;
}
  



@media screen and (max-width: 37.5rem){
    #nav{
        display: block;
    }
    #nav .bigScreen{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        background-color: light-dark(var(--lightForeground3), var(--darkForeground3));
    }
 

    .bigScreen .navBtn, .navTitle{
        width: 100%;
        height: auto;
        text-align: center;
        display: inline-block;
    }
    #nav .smallScreen{
        display: inline-block;
    }   
}

@media (pointer: coarse){
    button{
        transition: none;
    }
}
